body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
     text-align: center; 
}
form.survey-form, div.result {
    border: 2px solid black;
    display: block;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
}
input, select, textarea {
    display: block;
    margin-bottom: 15px;
}
h2.heading {
    text-decoration: underline;
}